@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
  scroll-behavior: smooth;
  overflow-x: hidden;
}
:root{
  --BG1:#ee8e8e;
  --BG2:#ffd484;
  --BG3:#7cb17c;
  --BG4:#A9D0DD;

}
*::-webkit-scrollbar{
  display: none;
}
body{
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color:#121212;
  color: rgb(223, 223, 223);
}

/* bg4 is the submit button and window */

.submissionbox{
  position: absolute;
  height: 35px;
  width: 120px;
  bottom: 20%;
  right: 15%;
  z-index: 1;
  font-size: 15px;
  overflow: hidden;
  transform: translateY(300%);
  transition: all 0.3s ease;  
}
.submissionbox.open{
  transform: translateY(0%);
  transition: all 0.3s ease;
}
.submissionbox.clicked{
  height: 90%;
  width: 100%;
  right: 0;
  top: 0;
  overflow: scroll;
  transform: translateY(0%);
  transition: all 0.3s ease;  

}
.submissionsheet{
  height: 34px;
  width: 119px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  color: black;
  transition: all 0.3s ease;  

}

.submissiontag{
  height: 34px;
  width: 119px;
  position: relative;
  display: flex;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: all 0.3s ease;
}
.submissionbox.clicked .submissionsheet{
  height: 100%;
  width: 100%;
  transition: all 0.3s ease;  

}
.submissionbox.clicked .submissiontag{
  transform: translateX(-100%);
  transition: all 0.3s ease;
}
.submitlabel{
  font-size: 15px;
}
.submiticon{
  font-size: 18px;
  left: 0;
  margin-top: 2px;
}
.SOAPsoap{
  margin-top: 10px;
  margin-left: 20px;
}
.SOAPbreak{
  position: relative;
  height: 2%;
  width: 75%;
  margin-left: 20px;
  border-bottom: 2px solid black;
  cursor:copy;
}
.SOAPbox{
  margin-top: 10px;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  transform: translateX(100%);
  transition: all 0.3s ease;

}
.SOAPgroup{
  display: flex;
}
.SOAPdate{
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 60px;
  margin-bottom: 20px;
}
.SOAPdispo{
  position: absolute;
  margin-top: 20px;
  margin-right: 40px;
  font-weight: bolder;
}
.submissionbox.clicked .SOAPbox{
  transform: translateX(0%);
  transition: all 0.3s ease;
}

.SOAPtitle{
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 20px;
}
.SOAPref{
  margin-bottom: 2px;
  text-align: center;
}
.SOAPpoint, .SOAPdispo{
  margin-left: 20px;
}
.SOAPclose{
  position: absolute;
  right: 5%;
  top: 2%;
}

/* bg3 - the bottom ADTMC or Medication slider.*/

.bg3{
  position: absolute;
  height: 300px;
  width: 100%;
  bottom: 0;
  overflow-y: hidden;
  font-size: 14px;
  transition: all 0.3s ease;

}
.bg3.augmented{
  height: 100%;
  transition: all 0.3s ease;
}

.bot{
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0;
  z-index: 300;

}
.Bbar{
  width: 100%;
  height: 100%;
  margin: auto;
  align-items: center;
  display: flex;
  background-color: #242424;
  position: relative;
}
.Bb{
  width: 50%;
  height: 100%;
  padding: 5px;
  text-align: center;
  margin: auto;
  color: #a5a4a4;
  background-color: transparent;
  position: relative;
  border: none;
  border-radius: 10px;
}

.botslider.o.adtmc ~ .Bb.adtmc{
  font-weight: 500;
  color: black;
  transition: all 0.3s ease;
}
.botslider.o.meds ~ .Bb.meds{
  font-weight: 500;
  color: black;
  transition: all 0.3s ease;
}

.botslider.o.adtmc{
  position: absolute;
  height: 100%;
  width: 50%;
  transition: all 0.3s ease;
  transform: scaleY(1.1);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.botslider.o.meds{
  position: absolute;
  height: 100%;
  width: 50%;
  transform: translateX(100%) scaleY(1.1);
  transition: 0.3s ease;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.botslider{
  position: absolute;
  height: 100%;
  width: 0;
  display: block;
  background-color:#545454;
  transition: 0.3s ease;
}
.botslider.closed{
  height: 0;
  display: none;
  background-color:#b8b6b6;
}

/* bg2 is the meds side of the house */
.bg2{
  height: 94%;
  width: 100%;
  background-color:#121212;
  transition: all 0.3s ease;
  transform: translateX(-100%);
  z-index: 299;
  position: absolute;
  overflow: hidden;
}
.bg2.center{
  transform: translateX(0);
  transition: all 0.3s ease;
}
.bg2-mainbody{
  top: 11%;
  height: 90%;
  width: 100%;
  padding-bottom: 20px;
  position: absolute;
  overflow-y: scroll;
  overflow-x: hidden;
  transform: translateX(0);
  transition: all 0.3s ease;
}
.bg2-mainbody.left{
  transform: translateX(-100%);
  transition: all 0.3s ease;
}
/* medbox is the medication list. slides left when you click on a button */
.medbox.left{
  transition: all 0.3s ease;
  transform: translateX(-100%);
  position: absolute;
}
.medbox{
  height: 94%;
  width: 100%;
  background-color:#121212;
  transition: all 0.3s ease;
}
#medlist{
  list-style-type: none;
}



.medbtn{
  position: relative;
  height: 2.5rem;
  margin-bottom: 4%;
  margin-top: 2%;
  margin-left: 4%;
  width: 95%;
  display: flex;
  overflow: none;
  align-items: center;
}

.medpoint{
  grid-template-rows: 1fr;
  width: 100%;
  transition: all 0.5s ease;
  opacity: 1;
  position: relative;
  margin-bottom: 10px;
  margin-top: 10px;
}
.medcard{
  width:95%;
  margin: auto;
  padding-bottom: 5px;
  position: relative;
  overflow-y: hidden;
  background-color: #191919;
  color: rgb(223, 223, 223);
  display: grid;
  grid-template-rows: 1fr;
  border-radius: 16px;
  box-shadow: 2px 4px 30px rgba(0, 0, 0, 0.1);
}

.medtop{
  width: 100%;
  height: 100%;
  margin: auto;
  margin-bottom: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: #333;
  position: relative;
}
.medcontent{
  margin-top: 10px;
}
.medcontent li{
  margin-left: 15px;
  margin-right: 15px;
  list-style-type: none;
}

.medsheet{
  top: 11%;
  height: 87%;
  width: 100%;
  padding-bottom: 20px;
  position: absolute;
  overflow-y: scroll;
  overflow-x: hidden;
  transform: translateX(200%);
  transition: all 0.3s ease;
  font-size: 13px;
}
.medsheet.open{
  transform: translateX(0);
  transition: all 0.3s ease;
}


/* bg is the ADTMC side - including ADTsheets */
.bg{
  height: 93%;
  width: 100%;
  position: absolute;
  transform: scale(1) translateY(0%) translateX(0);
  transition: all 0.3s ease;
  overflow: hidden;

}
/* bg closed is when the information box is open */
.bg.closed{
  transform: scale(0.9) translateY(5%) translateX(0);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transition: all 0.3s ease;
}
/* bg left is when the medications tab is open */
.bg.left{
  transform: translateX(100%);
  transition: all 0.3s ease;
}



/* Main page with a banner at the top and a sel-box for categories*/
.mainpage{
  height: 100%;
  width: 100%;
  background-color:#121212;
  position: absolute;
  overflow: hidden;
}
.mainpage-body{
  height: 100px;
  position: absolute;
  top: 11%;
}
.top-menu{
  position: absolute;
  height: 10%;
  width: 100%;
  top: 0px;
  display: flex;
  align-items: center;
  overflow-x: hidden;
  background-color:#121212;
  z-index: 200;
  opacity: 1;
  transform: translateY(0%);
  transition: all 0.3s ease;
}
.top-menu.paged{
  position: absolute;
  opacity: 0;
  transform: translateY(-300%);
  transition: all 0.3s ease;
}
.menu-item-box{
  position: relative;
  width: 20%;
  visibility: visible;
  margin-left: 10px;
  margin-right: 20px;
}
.menu-item-box.closed{
  position: relative;
  visibility: collapse;
  width: 0%;
}
/* ADTsheet menu box */
#menu-box3{
  position: absolute;
  margin-left: 15px;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
}
#menu-icon3{
  background-color: rgba(18,18,18, 0.5);
  color: white;
  height: 30px;
  width: 30px;
  z-index: 301;
  margin-top: 10px;
  top: -2%;
  font-size: x-large;
}
/* slider wrapper back icon */
#menu-icon4{
  background-color: rgba(18,18,18, 0.5);
  color: white;
  height: 30px;
  width: 30px;
  font-size: x-large;
}
.menu-icon{
  display: flex;
  top: 0;
  height: 30px;
  width: 30px;
  font-size: 22px;
  background-color: #242424;
  color: white;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}
.menu-icon.engaged{
  display: none;
}

.menu-banner.open{
  position: absolute;
  width: 80%;
  overflow: hidden;
  margin-left: 15%;
  opacity: 1;
  transform: translateX(0%);
  transition: all 0.3s ease;
  visibility: visible;
}
.menu-banner.paged{
  opacity: 0;
  transform: translateY(100%);
  transition: all 0.3s ease;
  position: absolute ;
  visibility: collapse;

}
.menu-banner{
  transform: translateX(300%);
  transition: all 0.3s ease;
  position: absolute;
  width: 80%;
  overflow: hidden;
  margin-left: 0%;
}

 .sel-box{
  position: absolute;
  display: block;
  visibility: collapse;
  opacity: 0;
  overflow: none;
  height: 90%;
  width: 100%;
  top: 10%;
  background-color: #121212;
  transform: translateX(200%) translateY(0%);
  transition: all 0.3s ease;
 }
 .sel-box.place-left{
  position: absolute;
  display: block;
  visibility: collapse;
  opacity: 0;
  overflow: none;
  height: 90%;
  width: 100%;
  top: 10%;
  background-color: #121212;
  transform: translateX(-200%) translateY(0%);
  transition: all 0.3s ease;
 }

 .sel-box.selected{
  position: relative;
  display: block;
  visibility: visible;
  opacity: 1;
  height: 90%;
  width: 100%;
  top: 10%;
  margin-bottom: 5px;
  overflow-y: scroll;
  background-color: #121212;
  transform: translateX(0%) translateY(0%);
  transition: all 0.3s ease;
 }


 .sel-box ul li{
  list-style: none;
 }

.catbtn{
  position: relative;
  height: 2.5rem;
  margin-bottom: 4%;
  margin-top: 2%;
  margin-left: 4%;
  width: 95%;
  display: flex;
  overflow: none;
  align-items: center;
}

.btn-border{
  height: 97%;
  width: 8px;
  position: relative;
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  align-items: center;
  justify-content: center;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}
li:nth-of-type(odd) .btn-border{
  background-color:  #E9B8B8;
  color: white;
}

li:nth-of-type(even) .btn-border{
  background-color: #EED9B1;
  color: white;
}
.category-text-box{
  font-weight: 100;
  display: flex;
  align-items: center;
  font-size: 13px;
  background-color: #181818;
  border-top: 1px solid #181818;
  border-right: 1px solid #181818;
  border-bottom: 1px solid #181818;
  width: 90%;
  height: 100%;
}
.texticon{
  min-width: 30px;
  max-width: 40px;
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
}


/* sub-page with title, ddx, and red */
.sub-page{
  height: 100%;
  width: 100%;
  opacity: 0;
  background-color:#121212;
  color: rgb(223, 223, 223);
  position: absolute;
  overflow-Y: scroll;
  transform: translateX(300%);
  transition: all 0.3s ease;
  
}
.sub-page.open{
  position: absolute;
  opacity: 1;
  overflow-y: scroll;
  transform: translateX(0%);
  transition: all 0.3s ease;
}
.sub-page-top{
  position: relative;
  display: grid;
  grid-template-rows: 1fr;
  background: rgba(18,18,18,1);
}

.wrap-marker{
  width: 100%;
  position: absolute;
  height: 3px;
  top: 0px;
  z-index: 200;
}

.sub-page-banner-box{
  position: sticky;
  display: flex;
  margin-top: 50px;
  margin-bottom: 20px;
  justify-content: center;
}
.sub-page-banner{
  min-width: 120px;
  max-width: 300px;
  text-align: center;
}
.infobox{
  position: absolute;
  right: 0;
  margin-right: 30px;
}
/* ADTsheet */

.sub-page-bottom{
  position: relative;
  display: grid;
  overflow-x: none;
  font-size: 14px;
}

.bottommarker{
  height: 10px;
  width: 20px;
  padding-bottom: 130px;
  bottom: 50px;
  display: flex;
}

.prebox{
  width: 95%;
  display: grid;
  grid-template-rows: 1fr;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: #242424;
  color: rgb(223, 223, 223);
  border-radius: 10px;
  box-shadow: 2px 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgb(184,182,182,0.6);
}
.prebox-close{
  display: flex;
  height: 30px;
  width: 30px;
  margin-left: 6px;
  margin-top: 6px;
  margin-bottom: 6px;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  position: relative;
  transform: rotate(0deg);
  transition: all 0.3s ease;
}
.prebox-close.closed{
  transform: rotate(-45deg);
  transition: all 0.3s ease;
}

.prebox-close i{
  position: absolute;
  display: flex;
  height: 30px;
  width: 30px;
}

.prebox-top{
  display: flex;
  align-items: center;
}
.prebox-content{
  width: 100%;
  max-height: 1000px;
  opacity: 1;
  visibility: visible;
  background-color: #242424;
  transition: all 0.4s ease;
}
.prebox-content.closed{
  width: 100%;
  max-height: 1px;
  margin: none;
  opacity: 0;
  visibility: collapse;
  background-color: #242424;
  transition: all 0.4s ease;
}



.prebox-content ul{
  margin-top: 2px;
  margin-left: 12%;
  margin-right: 5px;
}
.sub-menu{
  position: fixed;
  height: 70px;
  width: 100%;
  top: 0;
  background: rgba(18,18,18,1);
  display: flex;
  align-items: center;
  z-index: 300;
  opacity: 0;
  transform: translateY(-300%);
  transition: all 0.3s ease;
}
.sub-menu.scrolled{
  position: fixed;
  top: 0%;
  height: 100px;
  width: 100%;
  background:  rgba(18,18,18,1);
  color: white;
  display: flex;
  align-items: center;
  z-index: 300;
  opacity: 1;
  transform: translateY(0%);
  transition: all 0.3s ease;
}
.sub-icon{
  align-items: center;
  justify-content: center;
  display: flex;
  margin-left: 15px;
  border-radius: 50px;
}
.sub-menu-banner{
  align-items: center;
  text-align: center;
  min-width: 10px;
  max-width: 240px;
  margin-left: auto;
  margin-right: auto;
}
.infobox2{
  margin-right: 30px;
}
.ADTsheet.open{
  height: 100%;
  width: 100%;
  display: block;
  position: relative;
  margin-bottom: 2px;
}
.ADTsheet{
  height: 0%;
  width: 0%;
  display: none;
  margin-bottom: 2px;
  overflow: hidden;
}


.Q{
  display: grid;
  opacity: 0;
  width: 100%;
  grid-template-rows: 0fr;
  transition: all 0.5s ease;
  position: relative;
  overflow-x: hidden;
}

.Q.open{
  grid-template-rows: 1fr;
  width: 100%;
  transition: all 0.5s ease;
  opacity: 1;
  position: relative;
  margin-bottom: 10px;
  margin-top: 10px;
  overflow-x: none;
}

.ACTY .card, .ACTN .card{
  background-color:#181818;
    color: rgb(223, 223, 223);
}

.card{
  width:95%;
  margin: auto;
  position: relative;
  overflow-y: hidden;
  background-color: #191919;
  color: rgb(223, 223, 223);
  display: grid;
  grid-template-rows: 1fr;
  border-radius: 16px;
  box-shadow: 2px 4px 30px rgba(0, 0, 0, 0.1);
}

.front{
  width: 100%;
  position: relative;
  display: grid ;
  opacity: 1;
  grid-template-rows: 1fr;
  transform: translateX(0%);
  transition: all 0.3s ease;
  overflow: hidden;
}
.front ul{
  margin-left: 40px;
}
.front.closed{
  transform: translateX(-100%);
  transition: all 0.3s ease;
  display: grid ;
  position: absolute;
  grid-template-rows: 0fr;
  opacity: 0;
}
.front-top{
  width: 100%;
  display: flex;
  align-items: left;
}

.acticon{
  font-size: x-large;
}
.Q-icon{
  margin-top: 10px;
  margin-left: 15px;
  position: relative;
  display: flex;
  color: rgb(223, 223, 223);


}
.Qtext{
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  color: rgb(223, 223, 223);

}
.Q UL{
  margin-top: 10px;
  margin-left: 35px;
  margin-right: 5px;
  color: #a5a4a4;

}
.A{
  width: 100%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;

}

.Abar.closed{
  display: none;
  height: 0;
  background-color: #242424;
}
.Abar{
  width: 100%;
  height: 100%;
  margin: auto;
  align-items: center;
  display: flex;
  background-color: #333;
  position: relative;
}

.slider.o.yes ~ .Aa.Y{
  font-weight: 500;
  color: black;
  transition: all 0.3s ease;
}
.slider.o.no ~ .Aa.N{
  font-weight: 500;
  color: black;
  transition: all 0.3s ease;
}

.Aa{
  width: 50%;
  height: 100%;
  padding: 10px;
  text-align: center;
  margin: auto;
  color: white;
  background-color: transparent;
  position: relative;
  border: none;
  border-radius: 10px;
}


.slider.o.yes{
  position: absolute;
  height: 100%;
  width: 50%;
  background-color:#545454;
  color: black;
  transition: all 0.3s ease;
  transform: scaleY(1.1);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.slider.o.no{
  position: absolute;
  height: 100%;
  width: 50%;
  background-color:#545454;
  transform: translateX(100%) scaleY(1.1);
  transition: 0.3s ease;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.slider{
  position: absolute;
  height: 100%;
  width: 0;
  display: block;
  transition: 0.3s ease;
}
.slider.closed{
  height: 0;
  display: none;
  background-color:#545454;
}



.dispobox.open{
  width: 100%;
  max-height: 1000px;
  margin-left: auto;
  margin-right: auto;
  visibility: visible;
  background-color: #242424;
  transition: all 0.6s ease;
}
.dispobox{
  width: 100%;
  max-height: 0px;
  margin: none;
  visibility: collapse;
  background-color: #242424;
  transition: all 0.6s ease;
}

.dispobox.closed{
  width: 100%;
  max-height: 0px;
  margin: none;
  visibility: collapse;
  background-color: #242424;
  transition: all 0.6s ease;
  animation-delay: 0s;
}

.dispo-top{
  margin-left: 20px;
  margin-right: 10px;
  margin-top: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.dispo-icon{
  height: 100%;
  width: 55px;
  padding: 6px;
  margin-right: 6px;
  color: #333;
}
.dispo-icon i{
  border-radius: 50%;
  font-size: x-large;
  padding: 10px;

}
.dispo-label{
font-weight: 200;
color: #a5a4a4;
margin-left: 0;
}

.dispobar{
  height: 100%;
  width: 15px;
  position: absolute;
  overflow: hidden;
}

.action-box{
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  color: #a5a4a4;

}

.dispobar.RTD{
  height: 100%;
  width: 15px;
  right: 0;
  position: absolute;
  overflow: hidden;
}


.dispo{
  margin-left: 30px;
}
.dispo label{
  font-weight: 100;
  margin-left:auto;
  margin-right: auto;
}

.justbox{
  margin: auto;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  border-radius: 0px;
  visibility: none;
  position: relative;
  overflow: collapse;
  transform: translateX(150%);
  max-height: 0px;
  transition: all 0.3s ease;
}

.justbox.open{
  margin: auto;
  margin-left: 35px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  position: relative;
  visibility:visible;
  overflow: hidden;
  transform: translateX(0%);
  max-height: 500px;
  transition: all 0.3s ease;
}
.back1, .back2{
  width: 100%;
  height: 100%;
  position: absolute;
  transform: translateX(100%);
  top: 0;
  transition: all 0.3s ease;
  overflow: scroll;
}
.back1.opened, .back2.opened{
  transform: translateX(0%);
  position: relative;
  transition: all 0.3s ease;
  overflow: scroll;
}
.back-top{
  height: 30px;
  margin-top: 5px;
  display: flex;
  align-items: center;
  color: #121212;
}
.back-label{
  margin-left: 10px;
  margin-top: 2px;
}
.back1 ul{
  color: #121212;
  margin-bottom: 3%;
  margin-right: 10%;
  margin-left: 13%;
}
.back2 ul{
  color: #121212;
  margin-bottom: 3%;
  margin-right: 10%;
  margin-left: 13%;
}


.just{
  position: relative;
  display: grid;
  grid-template-rows: 1fr;
  max-height: 200px;
  overflow: scroll;
  margin-bottom: 10px;
}
.close{
  margin-left: 6px;
  margin-top: 6px;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  position: relative;
  visibility: visible;
  opacity: 1;
  transition: all 0.1s ease;
}
.close > .feather{
  height: 28px;
  width: 28px;
  stroke-width: 1.9;
}

.ACT1, .ACT2, .ACT3{
margin-left: 35px;
margin-top: 0;
margin-bottom: 10px;
}
.DACT{
background-color: #545454;
}
.DR{
background-color: #ee8e8e;
}
.DI{
background-color: #ee8e8e;
}
.DII{
background-color: #ffd484;
}
.DIV{
background-color: #7cb17c;
}
.DRTD{
background-color: #C1DBC1;
}
.DRETEST{
background-color: #A9D0DD;
}


.iconbutton{
  animation: pulse 7s linear infinite;
}

@keyframes pulse {
  0%,
  50%,
  100% {
    opacity: 0.6;
  }
  25%,
  75% {
    opacity: 1;
  }
}

.navcont{
  height: 80px;
  width: 100%;
  display: block;
}
.navtop{
  display: flex;
  align-items: center;

}
.navtop-text{
  margin-left: 40px;
}
.icon-cont{
  height: 30px;
  width: 30px;
  margin: 10px 10px 10px 10px;
}

.icon-circle{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: black;
  align-items: center;
  justify-content: center;
  display: flex;
}
.backbutton{
  font-size: xx-large;
  color: white;
  font-weight: normal;
}
/* information box */
.info-container.closed{
  min-height: 92%;
  width: 98%;
  top: 0%;
  bottom: 4%;
  position: absolute;
  visibility: visible;
  margin-left: 1%;
  border-radius: 10px;
  color: black;
  overflow:hidden ;
  opacity: 1;
  transform: scale(1) translateY(0%);
  transition: all 0.2s ease-in-out;
}
.info-container{
  min-height: 0%;
  max-height: 0%;
  width: 98%;
  visibility: collapse;
  margin: auto;
  position: absolute;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  z-index: 3;
  background-color: #333;
  overflow-y: scroll;
  bottom: 0;
  opacity: 0;
  margin-bottom: 10px;
  transform: scale(0.5) translateY(300%);
  transition: all 0.5s ease-in-out;
}

.info-top-box{
  position: relative;
  max-height: 45%;
  align-items: center;
  margin-left: 10px;
  margin-top: 10%;
  margin-bottom: 12px;
}
.info-title{
  position: relative;
  width: 80%;
  max-height: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.info-box-body{
  width: 100%;
  height: 85%;
  overflow-y: scroll;
  margin-bottom: 10px;
}
.info-gen{
  text-align: center;
  display: block;
  margin-bottom: 20px;
}
.info-gen li{
  width: 90%;
  margin-left: 5%;
  list-style-type: none;
}

.sub-page-pre{
  position: relative;
  display: grid;
  grid-template-rows: 1fr;
  margin-bottom: 10px;
  font-size: 14px;
  visibility: visible;
}


.contbox{
  width: 95%;
  display: grid;
  grid-template-rows: 1fr;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: #242424;
  color: rgb(223, 223, 223);
  border-radius: 10px;
  box-shadow: 2px 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgb(184,182,182,0.6);
}
.contbox-close{
  display: flex;
  height: 30px;
  width: 30px;
  margin-left: 6px;
  margin-top: 6px;
  margin-bottom: 6px;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  position: relative;
  transform: rotate(45deg);
  transition: all 0.3s ease;
  z-index: 300;
}
.infobox-close{
  top: 5%;
  left: 5%;
  height: 30px;
  width: 30px;
  border-radius: 50px;
  position: absolute;
  display: flex;
  color: white;
  align-items: center;
  text-align: center;
  justify-content: center;
  transform: rotate(45deg);
  font-size: 24px;
  color: white;
  background-color: rgba(18,18,18,0.8);
  z-index: 300;
}
.infobox-close i{
  align-items: center;
  justify-content: center;
  position: absolute;
}
.contbox-close.closed{
  transform: rotate(0deg);
  transition: all 0.3s ease;
}

.contbox-close i{
  position: absolute;
  display: flex;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.contbox-top{
  display: flex;
  align-items: center;
}
.contbox-content{
  position: relative;
  display: grid;
  grid-template-rows: 1fr;
  max-height: 200px;
  overflow: scroll;
  margin-bottom: 10px;
  margin-right: 10px;
  transition: all 0.3s ease;
}
.contbox-content.closed{
  display: grid;
  grid-template-rows: 0fr;
  width: 100%;
  max-height: 1px;
  overflow: scroll;
  margin: none;
  visibility: collapse;
  transition: all 0.4s ease;
  margin-bottom: 0;
}

.contbox-content ul{
  margin-top: 2px;
  margin-left: 18%;
  flex-wrap: wrap;
}
.back-label{
  margin-left: 10px;
}
.sub-page-pre.blocked{
  visibility: collapse;
  grid-template-rows: 0fr;
  margin-bottom: 0;
}

