@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: hidden;
}
:root{
  --BG1:#ee8e8e;
  --BG2:#ffd484;
  --BG3:#7cb17c;
  --BG4:#A9D0DD;

}
*::-webkit-scrollbar{
  display: none;
}

#snackbar2{
  width: 90%;
  max-height: 90%;
  border-radius: 10px;
  margin-left: 5%;
  padding: 10px;
  display: grid;
  visibility: collapse;
  position: absolute;
  z-index: 9;
  top: 10vh;
  font-size: 1.5vh;
  background-color: rgb(65,70,69);
  box-shadow: rgba(0, 0, 0, 0.11) 0px 4px 12px;
  transition: all 0.2s ease;
}

#snackbar2.show{
  visibility: visible;
  transition: all 0.2s ease;
}
.boop{
  position: absolute;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4vh;
  width: 4vh;
}

 /* The snackbar - position it at the bottom and in the middle of the screen */
 #snackbar {
  position: absolute;
  display: flex;
  visibility: hidden;
  width: 100%;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  z-index: 600;
  position: absolute;
  bottom: 0px
}
div.snackshow{
  display: flex;
  width: 100%;
  height: 10vh;
  align-items: center;
  justify-content: center;
  border-radius: 5px; /* Rounded borders */
  padding: 16px; /* Padding */
  background-color: rgb(65,70,69);
  box-shadow: rgba(0, 0, 0, 0.11) 0px 4px 12px;
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible;
  animation: fadein 0.3s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: -25px; opacity: 0;}
  to {bottom: 0px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: -25px; opacity: 0;}
  to {bottom: 0px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 0px; opacity: 1;}
  to {bottom: -25px; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 0px; opacity: 1;}
  to {bottom: -25px; opacity: 0;}
}
body{
  width: 100%;
  height: 100%;
  overflow: none;
  background-color: #282C29;
  color: rgb(223, 223, 223);
  overflow: hidden;
}


ul{
  list-style-type: disc;
}



.submissionbox{
  position: absolute;
  width: 90px;
  height: 50px;
  font-size: small;
  overflow: hidden;
  transform: translateY(400%);
  transition: 0.3s ease;
}


.submitlabel{
  font-size: 15px;
}

.submiticon{
  font-size: 26px;
  left: 0;
  justify-content: center;
  align-items: center;
  margin-top: 2px;
}
.SOAPsoap{
  margin-top: 10px;
  margin-left: 1.4rem;
}
.SOAPbreak{
  position: relative;
  height: 2%;
  width: 75%;
  margin-left: 3vh;
  border-bottom: 2px solid black;
  cursor:copy;
}
.SOAPbox{
  margin-top: 10px;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  transition: all 0.3s ease;

}
.SOAPgroup{
  display: flex;
  margin-left: 3rem;
}
.SOAPdate{
  margin-top: 1rem;
  margin-left: 1.4rem;
  margin-right: 5vh;
  margin-bottom: 10px;
}
.SOAPdispo{
  position: absolute;
  margin-top: 20px;
  margin-left: 1.4rem;
  margin-right: 5vh;
  margin-bottom: 200px;
  font-weight: bolder;
}
.SOAPnumb{
  position: absolute;
  width: 3vh;
  left: 1.6rem;
}

.SOAPtitle{
  margin-top: 10px;
  margin-left: 1.4rem;
  margin-bottom: 10px;
  font-weight: bold;
}
.SOAPref{
  margin-bottom: 2px;
  text-align: center;
}
.SOAPpoint, .SOAPdispo{
  display: flex;
  margin-right: 5vh;
}
.SOAPclose{
  position: absolute;
  right: 5%;
  top: 2%;
}


/* bg3 - the bottom ADTMC or Medication slider.*/

.bg3{
  position: absolute;
  height: 7.2vh;
  width: 100%;
  bottom: 0;
  padding: 0px;
  margin: 0px;
  font-size: 14px;
  transition: all 0.3s ease;
  overflow: hidden;
  z-index: 5;

}


.Bbar{
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  background-color: #242424;
  position: relative;
  overflow: hidden;
}
.Bb{
  width: 50%;
  height: 100%;
  padding-top: 1.2vh;
  padding-bottom: 1.5vh;
  position: relative;
  display: block;
  text-align: center;
  justify-content: center;
  align-items: baseline;
  color: #a5a4a4;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  overflow: hidden;

}

.Bbicon{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40%;
  font-size: 18px;
  overflow: hidden;
}
.Bbtitle{
  position: relative;
  height: 70%;
  font-size: 13px;
  overflow: hidden;
}

.botslider.o.adtmc ~ .Bb.adtmc{
  font-weight: 500;
  color: black;
  transition: all 0.3s ease;
  overflow: hidden;
}
.botslider.o.meds ~ .Bb.meds{
  font-weight: 500;
  color: black;
  transition: all 0.3s ease;
  overflow: hidden;
}

.botslider.o.adtmc{
  position: absolute;
  width: 50%;
  transition: all 0.3s ease;
  transform: translateX(0%);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.botslider.o.meds{
  position: absolute;
  width: 50%;
  transform: translateX(100%);
  transition: 0.3s ease;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  overflow: hidden;
}
.botslider{
  position: absolute;
  height: 100%;
  width: 0;
  display: block;
  background-color:#545454;
  transition: 0.3s ease;
  overflow: hidden;
}
.botslider.closed{
  height: 0;
  display: none;
  background-color:#b8b6b6;
  overflow: none;
}

/* bg2 is the meds side of the house */
.bg2{
  height: 93%;
  margin-bottom: 40px;
  width: 100%;
  background-color: #282C29;
  transition: all 0.3s ease;
  transform: translateX(-100%);
  z-index: 4;
  overflow: hidden;
  position: absolute;
}
.bg2.center{
  transform: translateX(0);
  transition: all 0.3s ease;
}
.bg2-mainbody{
  top: 11%;
  height: 90%;
  width: 100%;
  padding-bottom: 30px;
  position: absolute;
  overflow-y: scroll;
  overflow-x: hidden;
  transform: translateX(0);
  transition: all 0.3s ease;
}
.bg2-mainbody.left{
  transform: translateX(-100%);
  transition: all 0.3s ease;
}
/* medbox is the medication list. slides left when you click on a button */
.medbox.left{
  transition: all 0.3s ease;
  transform: translateX(-100%);
  position: absolute;
}
.medbox{
  height: 94%;
  width: 100%;
  background-color: #282C29;
  transition: all 0.3s ease;
}
#medlist{
  list-style-type: disc;
  list-style-position: outside;
}



.medbtn{
  position: relative;
  background-color: rgb(65,70,69, 0.1);
  box-shadow: rgba(0, 0, 0, 0.11) 0px 4px 12px;
  height: 2.5rem;
  border-radius: 5px;
  margin-bottom: 1%;
  margin-top: 1%;
  margin-left: 4%;
  width: 90%;
  display: flex;
  overflow: hidden;
  align-items: center;
}

.medpoint{
  grid-template-rows: 1fr;
  width: 100%;
  transition: all 0.5s ease;
  opacity: 1;
  position: relative;
  margin-bottom: 10px;
  margin-top: 10px;
}
.medcard{
  width:95%;
  margin: auto;
  padding-bottom: 5px;
  position: relative;
  overflow-y: hidden;
  background-color: rgb(65,70,69, 0.1);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 12px;
  color: rgb(223, 223, 223);
  display: grid;
  grid-template-rows: 1fr;
  border-radius: 5px;
}

.medtop{
  width: 100%;
  height: 100%;
  margin: auto;
  margin-bottom: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: rgb(65,70,69, 0.2);
  position: relative;
}
.medcontent{
  margin-top: 10px;
}
.medcontent li{
  margin-left: 15px;
  margin-right: 15px;
}

.medsheet{
  top: 11%;
  height: 87%;
  width: 100%;
  padding-bottom: 20px;
  position: absolute;
  overflow-y: scroll;
  overflow-x: hidden;
  transform: translateX(200%);
  transition: all 0.3s ease;
  font-size: 13px;
}
.medsheet.open{
  transform: translateX(0);
  transition: all 0.3s ease;
}


/* bg is the ADTMC side - including ADTsheets */
.bg{
  height: 93%;
  width: 100%;
  position: absolute;
  transform: scale(1) translateY(0%) translateX(0);
  transition: all 0.3s ease;
  overflow: hidden;
  z-index: 2;
  pointer-events: all;
}
/* bg closed is when the information box is open */
.bg.closed{
  transform: scale(0.9) translateY(5%) translateX(0);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transition: all 0.3s ease;
  pointer-events: none;
}
/* bg left is when the medications tab is open */
.bg.left{
  transform: translateX(100%);
  transition: all 0.3s ease;
}



/* Main page with a banner at the top and a sel-box for categories*/
.mainpage{
  height: 100%;
  width: 100%;
  background-color: #282C29;
  position: absolute;
  overflow: hidden;
}
.mainpage-body{
  height: 100px;
  position: absolute;
  top: 11%;
}
.top-menu{
  position: absolute;
  height: 10%;
  width: 100%;
  top: 0px;
  display: flex;
  align-items: center;
  overflow-x: hidden;
  background-color: #282C29;
  z-index: 200;
  opacity: 1;
  transform: translateY(0%);
  transition: all 0.3s ease;
}
.top-menu.paged{
  position: absolute;
  opacity: 0;
  transform: translateX(-300%);
  transition: all 0.3s ease;
}
.menu-item-box{
  position: relative;
  display: flex;
  width: 15%;
  justify-content: center;
  visibility: visible;
  margin-right: 20px;
}
.menu-item-box.closed{
  position: relative;
  visibility: collapse;
  width: 0%;
}
.menu-item-box.search{
  position: absolute;
  width: 10%;
  visibility: visible;
  right: 0;
  display: flex;
}
.menu-item-box.search.closed{
  display: none;
}

#menu-box1.animated{
  animation: pulse2 4s linear infinite;
}
#menu-box1.animated #menu-item{
  color: #5a613f;
}



/* ADTsheet menu box */
#menu-box3{
  position: absolute;
  margin-left: 15px;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
}
#menu-icon3{
  background-color: rgb(65,70,69, 0.1);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px;
  color: white;
  height: 35px;
  width: 35px;
  z-index: 301;
  margin-top: 10px;
  top: -2%;
  font-size: x-large;
}
/* slider wrapper back icon */
#menu-icon4{
  background-color: rgb(65,70,69, 0.1);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  color: white;
  height: 35px;
  width: 35px;
  font-size: x-large;
}
.menu-icon{
  display: flex;
  top: 0;
  height: 35px;
  width: 35px;
  font-size: 26px;
  background-color: rgb(65,70,69, 0.1);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px;
  color: white;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}
.menu-icon.engaged{
  display: none;
}

.menu-banner.open{
  position: absolute;
  width: 80%;
  overflow: hidden;
  display: flex;
  margin-left: 15%;
  opacity: 1;
  transform: translateX(0%);
  transition: all 0.3s ease;
  visibility: visible;
}
.menu-banner.paged{
  opacity: 0;
  transform: translateY(100%);
  transition: all 0.3s ease;
  position: absolute ;
  visibility: collapse;

}
.menu-banner{
  transform: translateX(300%);
  transition: all 0.3s ease;
  position: absolute;
  width: 80%;
  overflow: hidden;
  margin-left: 0%;
}

 .sel-box{
  position: absolute;
  display: block;
  visibility: collapse;
  opacity: 0;
  overflow: none;
  height: 90%;
  width: 100%;
  top: 10%;
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: #282C29;
  transform: translateX(200%) translateY(0%);
  transition: all 0.3s ease;
 }
 .sel-box.place-left{
  position: absolute;
  display: block;
  visibility: collapse;
  opacity: 0;
  overflow: none;
  height: 90%;
  width: 100%;
  top: 10%;
  background-color: #282C29;
  transform: translateX(-200%) translateY(0%);
  transition: all 0.3s ease;
 }

 .sel-box.selected{
  position: relative;
  display: block;
  visibility: visible;
  opacity: 1;
  height: 90%;
  width: 100%;
  top: 10%;
  margin-bottom: 5px;
  overflow-y: scroll;
  background-color: #282C29;
  transform: translateX(0%) translateY(0%);
  transition: all 0.3s ease;
 }


 .sel-box ul li{
  list-style: none;
 }

.catbtn{
  position: relative;
  background-color: rgb(65,70,69, 0.1);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 12px;
  height: 2.5rem;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  margin-bottom: 1.2%;
  margin-top: 1.2%;
  margin-left: 4%;
  width: 90%;
  display: flex;
  overflow: hidden;
  align-items: center;
}


.category-text-box{
  font-weight: 100;
  display: flex;
  align-items: center;
  font-size: 13px;
}
.texticon{
  min-width: 40px;
  height: 120px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}
.medbtn .texticon{
  font-size: medium;

}

li:nth-of-type(odd) .texticon{
  background-color: #958A68;
  color: #181818;
  font-weight: bold;
}
li:nth-of-type(even) .texticon{
  background-color: #5a613f;
  color: #181818;
  font-weight: bold;
}


/* sub-page with title, ddx, and red */
.sub-page{
  height: 100%;
  width: 100%;
  opacity: 0;
  color: rgb(223, 223, 223);
  overflow-y: scroll;
  overflow-x: hidden;
  transform: translateX(300%);
  transition: all 0.3s ease;

}
.sub-page.open{
  opacity: 1;
  transform: translateX(0%);
  transition: all 0.3s ease;
}
.sub-page-top{
  position: relative;
  display: grid;
  overflow: hidden;
  grid-template-rows: 1fr;
  background-color: #282C29;
}

.wrap-marker{
  width: 100%;
  position: absolute;
  height: 3px;
  top: 0px;
  z-index: 200;
}

.sub-page-banner-box{
  display: flex;
  margin-top: 50px;
  margin-bottom: 20px;
  justify-content: center;
}
.sub-page-banner{
  min-width: 120px;
  max-width: 300px;
  text-align: center;
}
.infobox{
  position: absolute;
  right: 0;
  margin-right: 30px;
}
/* ADTsheet */

.sub-page-bottom{
  font-size: 14px;
}

.bottommarker{
  height: 20px;
  width: 100%;
  bottom: 0;
  padding-bottom: 200px;
}

.prebox{
  width: 95%;
  display: grid;
  grid-template-rows: 1fr;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(65,70,69, 0.3);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 12px;
  color: rgb(223, 223, 223);
  border-radius: 10px;
}
.prebox-close{
  display: flex;
  height: 30px;
  width: 30px;
  margin-left: 6px;
  margin-top: 6px;
  margin-bottom: 6px;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  position: relative;
  transform: rotate(0deg);
  transition: all 0.3s ease;
}
.prebox-close.closed{
  transform: rotate(-45deg);
  transition: all 0.3s ease;
}

.prebox-close i{
  position: absolute;
  display: flex;
  height: 30px;
  width: 30px;
}

.prebox-top{
  display: flex;
  margin-left: 20px;
  text-decoration: underline;
  align-items: center;
  margin-bottom: 15px;
}
.prebox-content{
  width: 100%;
  max-height: 1000px;
  opacity: 1;
  visibility: visible;
  background-color: transparent;
  transition: all 0.4s ease;
}
.prebox-content.closed{
  width: 100%;
  max-height: 1px;
  margin: none;
  opacity: 0;
  visibility: collapse;
  background-color: #242424;
  transition: all 0.4s ease;
}

.prebox-content ul{
  margin-top: 2px;
  margin-left: 31px;
  margin-right: 5px;
  line-height: 1.6;
}
.sub-menu{
  position: fixed;
  height: 70px;
  width: 100%;
  top: 0;
  background-color: #282C29;
  display: flex;
  align-items: center;
  z-index: 300;
  opacity: 0;
  transform: translateY(-300%);
  transition: all 0.3s ease;
}
.sub-menu.scrolled{
  position: fixed;
  top: 0%;
  height: 100px;
  width: 100%;
  background-color: #282C29;
  color: white;
  display: flex;
  align-items: center;
  z-index: 300;
  opacity: 1;
  transform: translateY(0%);
  transition: all 0.3s ease;
}
.sub-icon{
  align-items: center;
  justify-content: center;
  display: flex;
  margin-left: 15px;
  border-radius: 50px;
}
.sub-menu-banner{
  align-items: center;
  text-align: center;
  min-width: 10px;
  max-width: 240px;
  margin-left: auto;
  margin-right: auto;
}
.infobox2{
  margin-right: 30px;
}
.ADTsheet.open{
  height: 100%;
  width: 100%;
  display: block;
  position: relative;
  margin-bottom: 2px;
}
.ADTsheet{
  height: 0%;
  width: 0%;
  display: none;
  margin-bottom: 2px;
  overflow: hidden;
}


.Q{
  display: grid;
  opacity: 0;
  width: 100%;
  grid-template-rows: 0fr;
  transition: all 0.5s ease;
  position: relative;
  overflow-x: hidden;
}

.Q.open{
  grid-template-rows: 1fr;
  width: 100%;
  transition: all 0.5s ease;
  opacity: 1;
  position: relative;
  margin-bottom: 10px;
  margin-top: 10px;
  overflow-x: hidden;
}
.Q.actopen{
  grid-template-rows: 1fr;
  width: 100%;
  transition: all 0.5s ease;
  opacity: 1;
  position: relative;
  margin-bottom: 10px;
  margin-top: 10px;
  overflow-x: none;
}

.ACTY .card, .ACTN .card{
  background-color: rgb(65,70,69, 0.2);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 12px;
  color: rgb(223, 223, 223);
}

.card{
  width:95%;
  margin: auto;
  position: relative;
  background-color: rgb(65,70,69, 0.2);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 12px;
  color: rgb(223, 223, 223);
  display: grid;
  grid-template-rows: 1fr;
  border-radius: 16px;
}

.front{
  width: 100%;
  position: relative;
  display: grid ;
  opacity: 1;
  grid-template-rows: 1fr;
  transform: translateX(0%);
  transition: all 0.3s ease;
  overflow-x: hidden;
}
.front ul{
  margin-left: 40px;
}
.front.closed{
  transform: translateX(-100%);
  transition: all 0.3s ease;
  display: grid ;
  position: absolute;
  grid-template-rows: 0fr;
  opacity: 0;
}
.front-top{
  width: 100%;
  display: flex;
}

.acticon{
  font-size: x-large;
}
.Q-icon{
  margin-top: 10px;
  margin-left: 15px;
  position: relative;
  display: flex;
  color: rgb(223, 223, 223);


}
.Qtext{
  width: 100%;
  margin-left: 3%;
  margin-top: 10px;
  color: rgb(223, 223, 223);

}
.Q UL{
  margin-top: 10px;
  color: #a5a4a4;

}

.A{
  width: 100%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;

}

.Abar.closed{
  display: none;
  height: 0;
  background-color: rgb(65,70,69, 0.3);
}
.Abar{
  width: 100%;
  height: 100%;
  margin: auto;
  align-items: center;
  display: flex;
  overflow: hidden;
  background-color: rgb(65,70,69, 0.3);
  position: relative;
}

.slider.o.yes ~ .Aa.Y{
  font-weight: 500;
  color: black;
  transition: all 0.3s ease;
}
.slider.o.no ~ .Aa.N{
  font-weight: 500;
  color: black;
  transition: all 0.3s ease;
}

.Aa{
  width: 50%;
  height: 100%;
  padding: 10px;
  text-align: center;
  margin: auto;
  color: white;
  background-color: transparent;
  position: relative;
  border: none;
  border-radius: 10px;
}


.slider.o.yes{
  position: absolute;
  height: 100%;
  width: 50%;
  background-color:#545454;
  color: black;
  transition: all 0.3s ease;
  transform: scaleY(1.1);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.slider.o.no{
  position: absolute;
  height: 100%;
  width: 50%;
  background-color:#545454;
  transform: translateX(100%) scaleY(1.1);
  transition: 0.3s ease;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.slider{
  position: absolute;
  height: 100%;
  width: 0;
  display: block;
  transition: 0.3s ease;
}
.slider.closed{
  height: 0;
  background-color: rgb(65,70,69, 0.1);
}



.dispobox.open{
  width: 100%;
  max-height: 1000px;
  margin-left: auto;
  margin-right: auto;
  visibility: visible;
  overflow-y: scroll;
  background-color: #242424;
  transition: all 0.6s ease;
}
.dispobox{
  width: 100%;
  max-height: 0px;
  margin: none;
  visibility: collapse;
  background-color: #242424;
  transition: all 0.6s ease;
}

.dispobox.closed{
  width: 100%;
  max-height: 0px;
  margin: none;
  visibility: collapse;
  background-color: #242424;
  transition: all 0.6s ease;
  animation-delay: 0s;
}

.dispo-top{
  margin-left: 20px;
  margin-right: 10px;
  margin-top: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}
.dispo-icon{
  height: 100%;
  width: 55px;
  padding: 6px;
  margin-right: 6px;
  color: #333;
}
.dispo-icon i{
  border-radius: 50%;
  font-size: x-large;
  padding: 10px;

}
.dispo-label{
font-weight: 200;
color: #a5a4a4;
margin-left: 0;
}

.dispobar{
  height: 100%;
  width: 15px;
  position: absolute;
  overflow: hidden;
}

.action-box{
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  color: #a5a4a4;

}

.dispobar.RTD{
  height: 100%;
  width: 15px;
  right: 0;
  position: absolute;
}


.dispo{
  margin-left: 30px;
  overflow-y: scroll;
}
.dispo label{
  font-weight: 100;
  margin-left:auto;
  margin-right: auto;
}

.justbox{
  margin: auto;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  border-radius: 0px;
  visibility: none;
  position: relative;
  transform: translateX(150%);
  max-height: 0px;
  transition: all 0.3s ease;
}

.justbox.open{
  margin: auto;
  margin-left: 35px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  position: relative;
  visibility:visible;
  transform: translateX(0%);
  max-height: 500px;
  transition: all 0.3s ease;
}
.back1, .back2{
  width: 100%;
  height: 100%;
  position: absolute;
  transform: translateX(100%);
  top: 0;
  transition: all 0.3s ease;
  overflow-y: scroll;
}
.back1.opened, .back2.opened{
  transform: translateX(0%);
  position: relative;
  transition: all 0.3s ease;
  overflow-y: scroll;
}
.back-top{
  height: 30px;
  margin-top: 5px;
  display: flex;
  align-items: center;
  color: #121212;
}
.back-label{
  margin-left: 10px;
  margin-top: 2px;
}
.back1 ul{
  overflow-y: scroll;
  color: #121212;
  margin-bottom: 3%;
  margin-right: 10%;
  margin-left: 13%;
}
.back2 ul{
  overflow-y: scroll;
  color: #121212;
  margin-bottom: 3%;
  margin-right: 10%;
  margin-left: 13%;
}


.just{
  position: relative;
  display: grid;
  grid-template-rows: 1fr;
  max-height: 200px;
  overflow-y: scroll;
  margin-bottom: 10px;
}
.close{
  margin-left: 6px;
  margin-top: 6px;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  position: relative;
  visibility: visible;
  opacity: 1;
  transition: all 0.1s ease;
}
.close > .feather{
  height: 28px;
  width: 28px;
  stroke-width: 1.9;
}

.ACT1, .ACT2, .ACT3{
margin-left: 35px;
margin-top: 0;
margin-bottom: 10px;
}
.DACT{
background-color: #545454;
}
.DR{
background-color: #ee8e8e;
}
.DI{
background-color: #ee8e8e;
}
.DII{
background-color: #b4a36f;
}
.DIV{
background-color: #717a4d;
}
.DRTD{
background-color: #717a4d;
}
.DRETEST{
background-color: #b4a36f;
}


.iconbutton{
  animation: pulse 7s linear infinite;
}

@keyframes pulse {
  0%,
  50%,
  100% {
    opacity: 0.6;
  }
  25%,
  75% {
    opacity: 1;
  }
}

@keyframes pulse2 {
  0%,
  50%,
  100% {
    opacity: 0.4;
    transform: scale(1);
  }
  25%,
  75% {
    opacity: 1;
    transform: scale(1.1);

  }
}


.navcont{
  height: 80px;
  width: 100%;
  display: block;
}
.navtop{
  display: flex;
  align-items: center;

}
.navtop-text{
  margin-left: 40px;
}
.icon-cont{
  height: 30px;
  width: 30px;
  margin: 10px 10px 10px 10px;
}

.icon-circle{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #171a18;
  align-items: center;
  justify-content: center;
  display: flex;
}
.backbutton{
  font-size: xx-large;
  color: white;
  font-weight: normal;
}
/* information box and the screening note box. cont1 is infobox. cont2 is note box */

#cont1{
  z-index: 5;
  font-size: 11pt;
  background-color: #282C29;
  box-shadow: rgba(0, 0, 0, 0.6) 0px 4px 12px;
  color: rgb(223, 223, 223);
}
.info-container.closed{
  height: 90%;
  width: 100%;
  left: 0;
  bottom: 0%;
  position: absolute;
  visibility: visible;
  border-radius: 10px;
  color: black;
  overflow:hidden ;
  opacity: 1;
  pointer-events: all;
  transition: all 0.3s ease-in-out;
}
.info-container{
  width: 100%;
  height: 0;
  visibility: collapse;
  position: absolute;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  z-index: 4;
  overflow: hidden;
  pointer-events: all;
  bottom: 0;
  transition: all 0.3s ease-in-out;
}
.info-container.keyed{
  width: 100%;
  height: 13vh;
  visibility: visible;
  position: absolute;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #282C29;
  z-index: 4;
  overflow: hidden;
  pointer-events: all;
  bottom: 0;
  transition: all 0.3s ease-in-out;
}

.info-container.clicked{
  width: 100%;
  height: 90%;
  visibility: visible;
  position: absolute;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  z-index: 4;
  background-color: #333;
  overflow: hidden;
  pointer-events: all;
  bottom: 0;
  transition: all 0.3s ease-in-out;
}


/* submission box stuff and the screening note */
.submittop{
  position: relative;
  display: flex;
  height: 50%;
  width: 100%;
  background-color: transparent;
  color: black;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  overflow: hidden;
}

.info-container.clicked .submittop{
  height: 0;
  transition: all 0.3s ease;
}

.submitbottom{
  font-size: small;
  color: black;
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
  transition: all 0.3s ease;
}
.infocontainer.clicked .submitbottom{
  position: relative;
  height: 90%;
  width: 100%;
  transition: all 0.3s ease;
}



.info-top-box{
  position: relative;
  max-height: 45%;
  align-items: center;
  margin-left: 10px;
  margin-top: 10%;
  margin-bottom: 12px;
}
.info-title{
  position: relative;
  width: 80%;
  max-height: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.info-box-body{
  width: 100%;
  height: 85%;
  overflow-y: scroll;
  margin-bottom: 10px;
}
.info-gen{
  text-align: center;
  display: block;
  margin-bottom: 20px;
}
.info-gen li{
  width: 90%;
  margin-left: 5%;
}

.sub-page-pre{
  position: relative;
  display: grid;
  grid-template-rows: 1fr;
  margin-bottom: 10px;
  font-size: 14px;
  overflow-y: scroll;
  visibility: visible;
}


.contbox{
  width: 95%;
  display: grid;
  grid-template-rows: 1fr;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(65,70,69, 0.2);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 12px;
  color: rgb(223, 223, 223);
  border-radius: 10px;
}

.contbox-close{
  display: flex;
  height: 30px;
  width: 30px;
  margin-left: 6px;
  margin-top: 6px;
  margin-bottom: 6px;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  position: relative;
  transform: rotate(45deg);
  transition: all 0.3s ease;
  z-index: 300;
}
.infobox-close{
  top: 5%;
  left: 5%;
  height: 30px;
  width: 30px;
  border-radius: 50px;
  position: absolute;
  display: flex;
  color: white;
  align-items: center;
  text-align: center;
  justify-content: center;
  transform: rotate(45deg);
  font-size: 24px;
  color: white;
  background-color: rgba(18,18,18,0.8);
  z-index: 300;
}
.infobox-close i{
  align-items: center;
  justify-content: center;
  position: absolute;
}
.contbox-close.closed{
  transform: rotate(0deg);
  transition: all 0.3s ease;
}

.contbox-close i{
  position: absolute;
  display: flex;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.contbox-top{
  display: flex;
  align-items: center;
}
.contbox-content{
  position: relative;
  display: grid;
  grid-template-rows: 1fr;
  max-height: 200px;
  overflow-y: scroll;
  margin-bottom: 10px;
  margin-right: 10px;
  transition: all 0.3s ease;
}
.contbox-content.closed{
  display: grid;
  grid-template-rows: 0fr;
  width: 100%;
  max-height: 1px;
  overflow: scroll;
  margin: none;
  visibility: collapse;
  transition: all 0.4s ease;
  margin-bottom: 0;
}

.contbox-content ul{
  overflow-y: scroll;
  position: grid;
  margin-top: 2px;
  margin-left: 6%;
  flex-wrap: wrap;
  list-style-type: disc;
}

.back-label{
  margin-left: 10px;
}
.sub-page-pre.blocked{
  visibility: collapse;
  grid-template-rows: 0fr;
  margin-bottom: 0;
}


.redflagcontainer{
  position: relative;
  display: flex;
  max-height: 30px;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 10px;
  align-items: center;
}
