@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}


html{
  -webkit-tap-highlight-color: transparent;
}

body{
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.4);
    background-image: linear-gradient(45deg, rgba(230, 230, 213, 0.4)
    0%, rgb(184, 208, 219, 0.4) 100%);
    
}
body::-webkit-scrollbar{
  display: none;
}
.center-box-wrapper{
  height: 4rem;
  width: 10rem;
  position: relative;
  top: 8rem;
  display: flex;
  margin-left: 4rem;
  background: gray;
}
.navbox{
  top: 0;
  left: 0;
  width: 100%;
  height: 3rem;
  background-color: white;
  border: 1px solid rgba( 255, 255, 255, 0.1 );
  position: fixed;
  z-index: 200;
  display: flex;
  /* align-items: center; */
  overflow: hidden;

}
.infobox{
  top: 3rem;
  height: 0.2rem;
  width: 100%;
  position: absolute;
  display: flex;
  background-color: white;
  border-bottom-left-radius: 20px ;
  border-bottom-right-radius: 20px;
  z-index: 199;
  transition: All 0.4s  ease;
  overflow: hidden;
}
.infobox.open{
  height: 100%;
  transition: height 0.4s  ease;
}
.mainbox{
  position: absolute;
  height: auto;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  border-radius: 20px;
  font-size: small;
  transform: translateY(0%);
  transition: All 0.2s ease;
  padding-top: 2rem;
  z-index: 199;
}
.box1{
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
}

.box-1-text ul{
  list-style: none;
  margin-left: 1rem;
}
.box-label2{
  width: 100%;
  margin-left: 10px;
  position: relative;
  font-weight: bold;
}
.box2{
  height: auto;
  width: 100%;
}
.cat{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  position: relative;
  font-weight: bold;
}
#MEDCOM{
  border-bottom: 1px solid black;
}

#MEDCOM ul{
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100%;
  font-weight: normal;
  list-style: none;
}
#MEDCOM ul li{
  margin-left: 1rem;
}
#STP ul{
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100%;
  font-weight: normal;
  list-style: none;
}
#STP ul li{
  margin-left: 1rem;
}


.item-menu-box{
  left: 0;
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  font-size: x-large;
}
#item-menu{
  background-color: white;
}
.banner-box{
  height: 100%;
  width: 100%;
  left: 4rem;
  position: absolute;
  display: flex;
  align-items: center;
  overflow: hidden;
}

#banner1{
  left: 2rem;
  position: absolute;
  width: 100%;
  transform: translateX(0%);
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
}
#banner1.closed{
  position: absolute;
  width: 100%;
  transform: translateY(200%);
  transition: all 0.2s ease;
}
#banner2{
  left: 0;
  display: flex;
  align-items: center;
  position: absolute;
  width: 100%;
  transform: translateX(400%);
  transition: all 0.2s ease;
}
#banner2.open{
  position: absolute;
  width: 100%;
  transform: translateX(0%);
  transition: all 0.2s ease;
}
#banner2.closed{
  position: absolute;
  width: 100%;
  transform: translateX(0%) translateY(200%);
  transition: all 0.2s ease;
}
#banner3{
  left: 0;
  position: absolute;
  display: flex;
  align-items: center;
  width: 100%;
  transform: translateX(400%);
  transition: all 0.2s ease;
}
#banner3.open{
  left: 0;
  position: absolute;
  width: 100%;
  transform: translateX(0%);
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
}
#banner3-label{
  font-size: small;
  overflow: hidden;
  width: 55%;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 16rem;
}

#banner3 i{
  font-size: x-large;
  background-color: white;
  color: black;
  border-radius: 50%;
  margin-left: 1rem;
  padding: 10px;
  transition: All 0.2s ease;
}

#banner3 i.open{
  color: red;
  transform: scale(1.2);
  transition: All 0.2s ease;
}

.menu-btn{
  width: 100%;
  margin-left: 0.5rem;
  position: absolute;
  width: 100%;
  font-size: x-large;
}
#item-menu{
  transform: rotate(0deg);
  transition: 0.2s ease;
}
#item-menu.closed{
  transform: rotate(-45deg) scale(1.1);
  transition: 0.2s ease;
}
.return{
  margin-left: 0.5rem;
  width: 100%;
  position: absolute;
  left: 2rem;
  font-size: x-large;
  transform: translateX(300%);
  transition: 0.2s ease;
}
.return.closed{
  margin-left: 0.5rem;
  width: 100%;
  position: absolute;
  left: 2rem;
  font-size: x-large;
  transform: translateX(0%);
  transition: 0.2s ease;
}
.settings-btn{
  width: 10%;
  padding-right: 1rem;
  right: -90%;
  justify-content: right;
  float: right;
  position: relative;
  display: flex;
  font-size: x-large;
}


.complaint-box{
  font-size: medium;
  height: 90%;
  width: 95%;
  top: 3.5rem;
  display: block;
  position: relative;
  margin: auto;
  overflow-y: hidden;
  overflow-x: hidden;
  background-color: rgb(245, 247, 250,0.1 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.5 );
  backdrop-filter: blur( 6.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.1 );
  transform: translateY(0%);
  transition: All 0.4s ease;  
}
.complaint-box.closed{
    height: 90%;
    width: 95%;
    display: block;
    position: absolute;
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: rgb(245, 247, 250,0.1 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.5 );
    backdrop-filter: blur( 6.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.1 );
    transform: translateY(-300%);
    transition: All 0.4s ease; 
  }
  .complaint-box.paged{
    height: 90%;
    width: 95%;
    display: block;
    position: absolute;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: rgb(245, 247, 250,0.1 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.5 );
    backdrop-filter: blur( 6.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.1 );
    transform: translateX(-300%);
    transition: All 0.4s ease; 
  }
.complaint-box ul{
  list-style: none;
  padding: 0 20px;

}
.complaint-box .return-btn{
    padding: 0;
    width: 100%;
    line-height: 2;
}
.complaint-box li {
  padding: 0;
  margin: 2px;
  width: 100%;
  text-indent: hanging;
  line-height: 2;   
}
.complaint-box a {
    text-decoration: none;
    color: #1A1A1A;
    margin: auto;
}
.complaint-box li:hover {
    background: rgba(255,255,255,0.2);
    color: #fff;
    border-radius: 8px;
}

.category-box.selected{
  width:100%;
  height: 100%;
  position: relative;
  display: block;
  overflow-y: scroll;
  transform: translateX(0%);
  transition: 0.4s ease;
}

.category-box{
  width:100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  display: block;
  transform: translateX(-300%);
  transition: 0.4s ease;
}
.category-box ul{
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
  padding-top: 1rem;
}
 #subboxA.selected{
  width:100%;
  height: 100%;
  position: absolute;
  overflow-y: scroll;
  display: block;
  transform: translateX(0%);
  transition: All 0.2s ease;
}

#subboxA{
  width:100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  display: block;
  transform: translateX(300%);
  transition: All 0.2s ease;
}
#subboxB.selected{
  width:100%;
  height: 100%;
  position: absolute;
  display: block;
  transform: translateX(0%);
  transition: All 0.2s ease;
}
#subboxB{
  width:100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  display: block;
  transform: translateX(300%);
  transition: All 0.2s ease;
}
#subboxC.selected{
  width:100%;
  height: 100%;
  position: absolute;
  display: block;
  transform: translateX(0%);
  transition: All 0.2s ease;
}
#subboxC{
  width:100%;
  height: 100%;
  position: absolute;
  display: block;
  transform: translateX(300%);
  transition: All 0.2s ease;
}
#subboxD.selected{
  width:100%;
  height: 100%;
  position: absolute;
  display: block;
  transform: translateX(0%);
  transition: All 0.2s ease;
}
#subboxD{
  width:100%;
  height: 100%;
  position: absolute;
  display: block;
  transform: translateX(300%);
  transition: All 0.2s ease;
}
#subboxE.selected{
  width:100%;
  height: 100%;
  position: absolute;
  display: block;
  transform: translateX(0%);
  transition: All 0.2s ease;
}
#subboxE{
  width:100%;
  height: 100%;
  position: absolute;
  display: block;
  transform: translateX(300%);
  transition: All 0.2s ease;
}
#subboxF.selected{
  width:100%;
  height: 100%;
  position: absolute;
  display: block;
  transform: translateX(0%);
  transition: All 0.2s ease;
}
#subboxF{
  width:100%;
  height: 100%;
  position: absolute;
  display: block;
  transform: translateX(300%);
  transition: All 0.2s ease;
}
#subboxG.selected{
  width:100%;
  height: 100%;
  position: absolute;
  display: block;
  transform: translateX(0%);
  transition: All 0.2s ease;
}
#subboxG{
  width:100%;
  height: 100%;
  position: absolute;
  display: block;
  transform: translateX(300%);
  transition: All 0.2s ease;
}
#subboxH.selected{
  width:100%;
  height: 100%;
  position: absolute;
  display: block;
  transform: translateX(0%);
  transition: All 0.2s ease;
}
#subboxH{
  width:100%;
  height: 100%;
  position: absolute;
  display: block;
  transform: translateX(300%);
  transition: All 0.2s ease;
}
#subboxI.selected{
  width:100%;
  height: 100%;
  position: absolute;
  display: block;
  transform: translateX(0%);
  transition: All 0.2s ease;
}
#subboxI{
  width:100%;
  height: 0;
  position: absolute;
  overflow: hidden;
  display: block;
  transform: translateX(300%);
  transition: All 0.2s ease;
}
#subboxJ.selected{
  width:100%;
  height: 100%;
  position: absolute;
  overflow-y: scroll;
  display: block;
  transform: translateX(0%);
  transition: All 0.2s ease;
}
#subboxJ{
  width:100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  display: block;
  transform: translateX(300%);
  transition: All 0.2s ease;
}
#subboxK.selected{
  width:100%;
  height: 100%;
  position: absolute;
  display: block;
  transform: translateX(0%);
  transition: All 0.2s ease;
}
#subboxK{
  width:100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  display: block;
  transform: translateX(300%);
  transition: All 0.2s ease;
}
#subboxL.selected{
  width:100%;
  height: 100%;
  position: absolute;
  display: block;
  transform: translateX(0%);
  transition: All 0.2s ease;
}

#subboxL{
  width:100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  display: block;
  transform: translateX(300%);
  transition: All 0.2s ease;
}
#subboxM.selected{
  width:100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  display: block;
  transform: translateX(0%);
  transition: All 0.2s ease;
}
#subboxM{
  width:100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  display: block;
  transform: translateX(300%);
  transition: All 0.2s ease;
}
.ADTpage{
  height: 94%;
  width: 98%;
  position: absolute;
  margin: auto;
  top: 3.5rem;
  opacity: 1;
  overflow-Y: scroll;
  background-color: rgba( 255, 255, 255, 0.05 );
  box-shadow: 0 8px 12px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 11.5px );
  -webkit-backdrop-filter: blur( 11.5px );
  border-radius: 10px;
  padding-bottom: 2rem;
  border: 1px solid rgba( 255, 255, 255, 0.4 );
  transform: translateX(0%);
  transition: All 0.2s ease; 

}
.ADTpage.closed{
  height: 100%;
  width: 100%;
  opacity: 0;
  display: block;
  position: absolute;
  overflow: hidden;
  background-color: rgb(245, 247, 250,0.1 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.5 );
  backdrop-filter: blur( 6.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.1 );
  transform: translateX(300%);
  transition:  All 0.2s ease;
}
.page-content{
  width: 100%;
  top: 2rem;
  position: relative;
  overflow-Y: scroll;
  font-size: small;
}
.ADTsheet{
  display: none;
}
.ADTsheet.open{
  display: block;
  height: 100%;
  overflow: scroll;
  padding-bottom: 20px;
}


.ddxbox{
  position: relative;
  border-bottom: 1px solid black ;
  width: 100%;
  font-size: small;
}
.ddxbox li{
  margin: 0 1rem;
  font-size: small;
}
.redbox{
  position: relative;
  border-bottom: 1px solid black ;
  width: 100%;
  font-size: small;
}

.redbox li{
  margin-left: 1rem;
}
.treatment-protocol{
  position: relative;
  border-bottom: 1px solid black;
  width: 100%;
}
#treatment-protocol li{
  margin: 0 1rem;
}

.label1{
  display: block;
  text-align: left;
  /* margin-left: 9px; */
  border-bottom: 1px solid black;
  font-weight: bold;
}

.algorithm{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: scroll;
}

.ios-toggle {
  display: inline-block;
  position: relative;
  width: 3.2rem;
  height: 1rem;
  margin-right: 10px;
}
.ios-toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}
.ios-toggle input:checked + span.slider {
  background-color: rgb(177, 91, 91, 0.5)
}
.ios-toggle input:checked + span.slider:before {
  transform: translateX(220%);
}
.ios-toggle span.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1rem;
  width: 3.2rem;
  border-radius: 12.5px;
  background-color: rgba( 255, 255, 255, 0.1 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.5 );
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;

}
.ios-toggle span.slider:before {
  position: absolute;
  content: "";
  height: 1rem;
  width: 1rem;
  border-radius: 12.5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
  background-color: white;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.Q{
  position: relative;
  display: flex;
  width: 100%;
  max-height: 50rem;
  border-bottom: 1px solid black;
  align-items: center;
  overflow: scroll;
  visibility: visible;
  transform: translateY(0%);
  transition: 0.3s ease;
  
  }
.Qwrap{
width: 50%;
margin: 1rem 1rem;
}
.Q-UL{
display: flex;
flex-direction: column;
list-style-position: inside;
text-indent: 8px;
line-height: 1.4;

}
.A{
width: 20%;
display: flex;
position: relative;
align-items: center;
justify-content: space-around;
}
.Q-LI{
  margin-left: 1rem;
}
.subQ{
  position: relative;
  height: 0;
  overflow: hidden;
  transform: scaleY(0);
  transition: all .06s ease;
}
.subQ.selected{
  position: relative;
  height: auto;
  transform: scaleY(1);
  transition: all .06s ease;
}

.dispobox{
  position: relative;
  height: 0;
  visibility: collapse;
  transform: scaleY(0) scaleX(0);
  transition: all 0.3s ease;
}
.dispobox.open{
  position: relative;
  visibility: visible;
  display: block;
  height: auto;
  width: 98%;
  margin: auto;
  transform: scaleY(1) scaleX(1);
  transition: all 0.3s ease;
  padding: 20px;
  
}
.dispo{
  padding: 8px;
  border-radius: 20px;
  align-items: center;
  display: flex;
  flex-direction: row;
  position: relative;
  overflow: hidden;
  box-shadow: 0 8px 10px 0 rgba( 31, 38, 135, 0.5 );
  backdrop-filter: blur( 6.5px );
}
.dispo label{
  font-weight: bold;
}
.dispobox i{
  padding: 6px;
  font-size: x-large;
  border-radius: 50%;
}
.bx-error{
  animation: blinker 2s linear infinite;
}
.bx-error::before{
  animation: none;
}

.dispobox label{
  padding: 8px;
}
.DR{
  background-color: rgb(226, 103, 103, 0.7);
  border: 3px solid rgb(226, 103, 103, 0.9);
}
.DR{
background-color: rgb(226, 103, 103, 0.7);
border: 3px solid rgb(226, 103, 103, 0.9);
}
.DI{
background-color: rgb(226, 103, 103, 0.4);
border: 3px solid rgb(226, 103, 103, 0.7);
}
.DII{
background-color: rgb(238, 185, 86, 0.4);
border: 3px solid rgb(238, 185, 86, 0.7); 
}
.DIII{
background-color: rgb(65, 162, 194, 0.4);
border: 3px solid rgb(65, 162, 194, 0.7);
}
.DIV{
background-color: rgb(102, 192, 102, 0.4);
border: 3px solid rgb(102, 192, 102, 0.7);
}
.DRTD{
background-color: rgb(102, 192, 102, 0.4);
border: 3px solid rgb(102, 192, 102, 0.7);
}
.DRETEST{
background-color: rgb(65, 162, 194, 0.4);
border: 3px solid rgb(65, 162, 194, 0.7);
}
.justbox{
position: relative;
height: 0;
visibility: collapse;
transform: scaleY(0) scaleX(0);
transition: all 0.2s ease-in-out;
}

.justbox.open{
position: relative;
visibility: visible;
height: auto;
width: 100%;
margin: auto;
transform: scaleY(1) scaleX(1);
transition: all 0.3s ease;
padding: 6px;

}
.justboxACT{
position: relative;
visibility: visible;
height: auto;
width: 100%;
margin: auto;
transform: scaleY(1) scaleX(1);
transition: all 0.3s ease;
padding: 6px;
}
.justboxAM{
position: relative;
visibility: visible;
height: auto;
width: 100%;
margin: auto;
transform: scaleY(1) scaleX(1);
transition: all 0.3s ease;
padding: 6px;
}
.just{
  padding: 10px;
  border-radius: 20px;
  display: block;
  position: relative;
  overflow: hidden;
  box-shadow: 0 8px 10px 0 rgba( 31, 38, 135, 0.5 );
  backdrop-filter: blur( 6.5px );
}
.just label{
  font-weight: bold;
}
.just ul{
  position: relative;
  margin-left: 20px;
}
.just li{
  position: relative;
  list-style:outside;
}

.JR{
  background-color: rgb(226, 103, 103, 0.7);
  border: 3px solid rgb(226, 103, 103, 0.9);

}
.JI{
background-color: rgb(226, 103, 103, 0.4);
border: 3px solid rgb(226, 103, 103, 0.7);

}
.JII{
background-color: rgb(238, 185, 86, 0.4);
border: 3px solid rgb(238, 185, 86, 0.7); 
}
.JIII{
background-color: rgb(65, 162, 194, 0.4);
border: 3px solid rgb(65, 162, 194, 0.7);
}
.JIV{
background-color: rgb(102, 192, 102, 0.4);
border: 3px solid rgb(102, 192, 102, 0.7);
}
.JRTD{
background-color: rgb(102, 192, 102, 0.4);
border: 3px solid rgb(102, 192, 102, 0.7);
}
.JRETEST{
background-color: rgb(65, 162, 194, 0.4);
border: 3px solid rgb(65, 162, 194, 0.7);
}


.blink_me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}